.inneraboutcon{
    width: 85%;
    margin: 30px auto;
    display: flex;
    gap: 50px;
    padding: 20px 0;
}

.aboutcon .col{
    width: 50%;
}

.aboutcon .col img{
    width: 100%;
}

.aboutcon .col h3{
    /* font-size: 35px; */
    margin-bottom: 20px;

    /* font-size: 72px; */
    background: -webkit-linear-gradient(45deg, #e62f30, rgb(62, 130, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutcon .col p{
    margin: 15px 0;
    /* font-size: 18px; */
}

.aboutcon .col a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

@media only screen and (max-width:1300px) {
    .inneraboutcon{
        width: 95%;
        margin: 50px auto;
    }
}

@media only screen and (max-width:1200px) {
    /* .aboutcon .col h3{
        font-size: 30px;
    } */
}

@media only screen and (max-width:1050px) {
    .inneraboutcon{
        flex-direction: column;
    }

    .aboutcon .col{
        width: 100%;
    }
}
@media only screen and (max-width:550px) {
    /* .aboutcon .col h3{
        font-size: 25px;
    } */

    .inneraboutcon{
        margin: 30px auto;
    }
}