

.HeaderCon{
    background: url('../../../public/images/bg.jpg');
    background-size: cover;
    width: 100%;
}

.HeaderCon .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.HeaderCon .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 700px;
  height: 450px;
  border-radius: 12px;

  
  /* text-align: center;
  padding: 20px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

.HeaderCon .swiper-slide p{
  font-size: 13px;
  padding:5px 50px;
  font-weight: 300;
}

.HeaderCon .swiper-slide:nth-child(1){
  background: url('../../../public/images/headerslide/Growslide.png');
  background-size: cover;
  background-repeat: no-repeat;
}


.HeaderCon .swiper-slide:nth-child(2){
  background: url('../../../public/images/headerslide/Growslide.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.HeaderCon .swiper-slide:nth-child(3){
  background: url('../../../public/images/headerslide/ExpertTeam.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.HeaderCon .swiper-slide:nth-child(4){
  background: url('../../../public/images/headerslide/supportslide.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.HeaderCon .swiper-slide:nth-child(5){
  background: url('../../../public/images/headerslide/TailoredSolutions.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.HeaderCon .swiper-slide:nth-child(5){
  background: url('../../../public/images/headerslide/EnhancedEfficiency.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.HeaderCon .swiper-slide:nth-child(6){
  background: url('../../../public/images/headerslide/competitionslide.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.HeaderCon .swiper-slide img {
  display: block;
  /* width: 100%; */
}


.grid-head{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.grid-head div{
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.grid-head h1, .grid-head p{
  color: black;
  margin: 0 auto;
  padding: 0;
}



/* Glow effect */


.glow{
  width: 200px;
  height: 200px;
  background-color: rgba(0, 98, 255, 0.259);
  filter: blur(.3);
  position: absolute;
  top: 40%;
  left: calc(50% - 100px);
  /* right: 300px; */
  z-index: 2;
  /* filter: blur(); */
  box-shadow: 1px 1px 200px #0061ff;
  border-radius: 50%;
  animation: moves 5s infinite ease;
}

@keyframes moves{
  0%{
      box-shadow: 1px 1px 230px #0061ff;
      /* transform: translateY(0px); */
  }
  50%{
      box-shadow: 1px 1px 180px #0061ff;
      /* transform: translateY(20px); */
  }
  100%{
      box-shadow: 1px 1px 230px #0061ff;
      /* transform: translateY(0px); */
  }
}


@media only screen and (max-width:1000px){
  .HeaderCon .swiper-slide {
    width: 80%;
    height: 450px;
  }
}

@media only screen and (max-width:700px){
  .HeaderCon .swiper-slide {
    width: 80%;
    height: 350px;
  }
}

@media only screen and (max-width:600px){
  .HeaderCon .swiper-slide {
    width: 80%;
    height: 300px;
    font-size: 70%;
  }
}

@media only screen and (max-width:500px){
  .HeaderCon .swiper-slide {
    width: 80%;
    height: 250px;
    font-size: 70%;
  }

  .grid-head{
    gap: 5px;
    padding: 5px;
  }
}
@media only screen and (max-width:500px){
  .HeaderCon .swiper-slide {
    width: 80%;
    height: 200px;
  }
}