

.HeaderCon{
    background: url('../../../public/images/card2.jpg');
    background-size: cover;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px;
  height: 400px;
  /* background-color: rgb(21, 21, 21); */
  /* background-color: black; */
  border-radius: 12px;
  padding: 10px;
  /* background-size: cover; */
}

.HeaderCon .swiper-slide:nth-child(3){
  background: linear-gradient(rgba(71, 71, 71, 0.493), #000),url('../../../public/images/grow2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.HeaderCon .swiper-slide:nth-child(4){
  background: linear-gradient(rgba(128, 128, 128, 0.637), #000),url('../../../public/images/team.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HeaderCon .swiper-slide:nth-child(5){
  background: linear-gradient(rgba(128, 128, 128, 0.637), #000),url('../../../public/images/card1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.HeaderCon .swiper-slide:nth-child(6){
  background: linear-gradient(rgba(64, 64, 64, 0.637), #000),url('../../../public/images/code.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%; */
}


.grid-head{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.grid-head div{
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 20px; */
  /* gap: 0; */
  /* line-height: 10; */
  
}

.grid-head h1, .grid-head p{
  color: black;
  margin: 0 auto;
  padding: 0;
}