.serviceCardcon{
    border-bottom: 1px solid #00112e;
    padding: 40px 50px;
}
.serviceCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hideservice{
    display: none;
}

.serviceCard div p:nth-child(1){
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}

.serviceCard div:nth-child(1) svg{
    color: #0061ff;
    font-size: 20px;
}

.serviceCard div:nth-child(2) svg{
    color: #0061ff;
    font-size: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 15px;
    transition: .3s;
}

.serviceCardcon:hover{
    background-color: #000713c9;
}


.serviceCard:hover div:nth-child(2) svg{
    background-color: #0061ff;
    color: white;
    transform: rotate(-45deg) scale(120%);
    transition: .3s;
}

.serviceCard p:nth-child(2){
    color: #0062ffc7;
    font-size: 15px;
}

.showbtn{
    /* margin:20px auto; */
    text-align: center;
}
.showbtn button{
    background: transparent;
    border: 1px solid #0061ff;
    padding: 15px 50px;
    color: white;
    border-radius: 24px;
    transition: .3s;
    cursor: pointer;
}

.showbtn button:hover{
    background-color: #0061ff;
    color: black;
    transition: .3s;
}