.Contact{
    background-color : #000000; 
    /* margin: 20px 0px; */
    /* background: linear-gradient(45deg, rgba(128, 128, 128, 0.414), black), url('../../../public/images/img3.jpg'); */
    width: 80%;
    margin: auto;
    border-radius: 12px;
    /* border: 1px solid #0061ff; */
}

.contact_con{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.contact_con form button{
    background-color: #0061ff;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border: transparent;
    cursor: pointer;
    font-size: 15px;
}

.contact_con form{
    /* background-color: white; */
    width: 500px;
    padding: 20px;
    /* box-shadow: 1px 1px 5px black; */
    box-shadow: 1px 10px 500px #0062ff6f;
    margin: 50px 0;
    border-radius: 6px;
    /* background: linear-gradient(to right, black, rgba(0, 0, 255, 0.132)); */
    background-color: #171717;
    filter: blur(9);
    border: 1px solid rgb(15, 15, 15);
}
.contact_con form p{
    color: #0061ff;
}

.contact_con form .row{
    display: flex;
    gap: 10px;
}

.contact_con form .row .col{
    width: 100%;
    margin-bottom: 20px;
}
.contact_con form .row .col input{
    width: 100%;
    height: 45px;
    /* border: 1px solid rgb(206, 206, 206); */
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding: 0 10px;
    color: rgb(193, 193, 193);
    margin-top: 5px;
    background-color: transparent;
}

.contact_con form .row .col textarea{
    width: 100%;
    /* border: 1px solid rgb(206, 206, 206); */
    border-radius: 3px;
    padding: 10px 10px;
    color: rgb(193, 193, 193);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
}
.contact_con form .row .col input, .col2 form .row .col textarea{
    outline: transparent;
    /* border: 1px solid rgb(206, 206, 206);
    border-radius: 3px;*/
} 


@media only screen and (max-width: 650px) {
    .contact_con form{
        width: 90%;
        margin: 30px auto;
    }

    .Contact{
        width: 95%;
    }

    .contact_con{
        width: 100%;
    }
}