.head{
    /* height: 100vh; */
    /* background-color: #000000; */
    position: relative; 
    overflow-x: hidden;
}

.header{
    text-align: left;
    z-index: 99;
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.header div{
    width: 50%;
}

.header div img{
    width: 100%;
}

.header .imgcol{
    animation: gravity 5s infinite;
}

@keyframes gravity {
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(10px, -10px);
    }
    100%{
        transform: translate(0px);
    }
}

.header .innerheader h2{
    font-size: 20px;
    color: white;
    /* background-color: red; */
    width: fit-content;
    /* margin: auto; */
    color: #0061ff;
    font-weight: 500;
}

.dytext{
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

.dytext h2{
    position: relative;
    top: 0;
    animation:  slide 12s steps(4) infinite;
}

@keyframes slide{
    100%{
        top: -160px;
    }
}

.dytext li h2::after{
    content: '';
    position: absolute;
    background-color: #000000;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 5px solid white;
    animation:  typing 3s steps(15) infinite;
}

@keyframes typing{
    40%,60% {
        left: calc(100% + 30px)
    }
    100%{
        left: 0; 
    }
}

.header .innerheader h1{
    font-size: 50px;
    text-transform: uppercase;
    color: white;
}

.header .innerheader p{
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(173, 173, 173);
    /* margin: 30px; */
}

.glow{
    width: 200px;
    height: 200px;
    background-color: rgba(0, 98, 255, 0.259);
    filter: blur(.3);
    position: absolute;
    top: 40%;
    left: calc(50% - 100px);
    z-index: 2;
    /* filter: blur(); */
    box-shadow: 1px 1px 200px #0061ff;
    border-radius: 50%;
    /* animation: moves 5s infinite ease; */
}

@keyframes moves{
    0%{
        /* box-shadow: 1px 1px 200px #0061ff; */
        transform: translateY(0px);
    }
    50%{
        /* box-shadow: 1px 1px 150px #0061ff; */
        transform: translateY(50px);
    }
    100%{
        /* box-shadow: 1px 1px 200px #0061ff; */
        transform: translateY(0px);
    }
}


.socials ul{
    display: flex;
    justify-content: left;
    gap: 25px;
    list-style: none;
    /* position: absolute; */
    bottom: 50px;
    left: calc(50% - 100px);
}

.socials ul svg{
    color: white;
    font-size: 20px;
    transition: .3s;
}

.socials ul a svg:hover{
    transform: scale(120%);
}

.btncon{
    display: flex;
    gap: 20px;
    justify-content: left;
    margin: 40px 0;
}

.btncon a{
    z-index: 9;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
}


@media only screen and (max-width:1000px) {
    .header .innerheader h1{
        font-size: 50px;
    }
    
    .head .innerheader{
        margin: 80px 0 0 0;
    }
}

@media only screen and (max-width:750px) {
    .header .innerheader h1{
        font-size: 30px;
    }

    .header .innerheader h2{
        font-size: 25px;
        margin: 0;
    }

    .head .innerheader{
        text-align: left;
    }

    .btncon{
        justify-content: left;
    }

    .head{
        height: 100%;
        padding-bottom: 50px;
    }

    .socials ul{
        justify-content: left;
    }
}