.navbar a{
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    font-size: 15px;
}

.navbar .logo p{
    /* color: dodgerblue; */
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    /* color: rgb(29, 29, 29); */
    color: white;
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
    /* background-color: aqua; */
    height: 5rem;
    /* position: fixed;
    background-color: rgb(46, 46, 46);
    width: 100%;
    z-index: 9; */
}

.navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.navbar ul svg{
    font-size: 30px;
    cursor: pointer;
}

.navbar .btn{
    background-color: white;
    /* background-color: rgb(223, 223, 223); */
    color: black;
    border-radius: 6px;
}


/* Hover Menu  */

.showmenu{
    background-color: #171717;
    width: 50%;
    height: 50%;
    position: absolute;
    right: 50px;
    border-radius: 6px;
    z-index: 99;
    /* display: none; */
}

.hidemenu{
    display: none;
}

@media only screen and (max-width:800px) {
    .navbar{
        padding: 5px 50px;
    }
}

@media only screen and (max-width:550px) {
    .navbar ul a{
        display: none;
    }
}

@media only screen and (max-width:450px) {
    .navbar{
        padding: 0px 20px;
    }

    .navbar .logo p{
        font-size: 30px;
    }
}