.whyus{
    background-color: #000713;
    padding: 50px 0;
}

.whyus .inwhy{
    width: 90%;
    margin:10px auto;
}

.whypoints{
    display: grid;
    gap: 0 50px;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px auto;
}

.whypoints div{
    margin: 10px 0;
}

.whypoints svg{
    color: white;
}