.Partners{
    /* background-color: #1E201E; */
    padding: 10px 0;
    filter: blur(9);
}

.Partners .row{
    display: flex;
    width: 70%;
    margin: 20px auto;
    justify-content: space-around;
    align-items: center;
}

.Partners .col{
    width: 90px;
}

.Partners .col img{
    width: 100%;
    filter: grayscale(1);
}

@media only screen and (max-width: 1050px) {
    .Partners .row{
        width: 85%;
    }

    .Partners .col{
        width: 70px;
    }
}
@media only screen and (max-width: 650px) {
    .Partners .col{
        width: 60px;
    }
}
@media only screen and (max-width: 550px) {
    .Partners .col{
        width: 40px;
    }
}