.Feedback{
    padding: 40px 0;
}

.Feedback .col1{
    /* background-color: rebeccapurple; */
    width: 50%;
    margin: auto;
    text-align: center;
}

.Feedback .col1 p:nth-child(1){
    text-transform: uppercase;
    margin-bottom: 20px;
}

.Feedback .col1 h3{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 20px;
}

.Feedback .reviews{
    width: 60%;
    margin: 50px auto;
}

.feedbox{
    background-color: #0F0F0F;
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 6px;
}

@media only screen and (max-width:1000px) {
    .Feedback .reviews{
        width: 95%;
        margin: 50px auto;
        gap: 20px;
    }
}

@media only screen and (max-width:750px) {
    .Feedback .reviews{
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width:550px) {
    .Feedback .col1{
        width: 95%;
        margin: auto;
        text-align: center;
    }

    .Feedback{
        padding: 20px 0;
    }

    .Feedback .col1 h3{
        font-size: 25px;
        line-height: 35px;
    }
}






  
.swiper {
    width: 100%;
    height: 100%;
}

.swiper svg{
    display: none;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .swiper-slide img {
    display: block;
    width: 0%;
    height: 0%;
    object-fit: cover;
  } */
  