
.Aboutinner{
    /* background-color: #0061ff; */
    background-color: #0a0b0c;
    width: 70%;
    margin: 100px auto;
    text-align: center;
    padding: 80px 30px;
    border-radius: 12px;
    box-shadow: 1px 1px 5px #33475679;
    /* border: 1px solid #334756; */
    position: relative;
}

.Aboutinner span{
    background-color: white;
    color: black;
    padding: 8px 10px;
    border-radius: 6px;
}

.Aboutinner h3{
    margin-top: 20px;
}

.Aboutinner p{
    width: 95%;
    margin: auto;
}

.Aboutinner a{
    background-color: black;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.Aboutinner img{
    width: 60%;
    height: 350px;
    object-fit: cover;
}

@media only screen and (max-width:1300px) {
    .Aboutinner{
        width: 80%;
    }
}

@media only screen and (max-width:1000px) {
    .Aboutinner{
        width: 90%;
    }

    .Aboutinner img{
        width: 80%;
        height: 300px;
        object-fit: cover;
    }
}

@media only screen and (max-width:600px) {
    .Aboutinner img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .Aboutinner{
        width: 95%;
        padding: 10px 10px;
        text-align: left;
        margin: 50px auto;
    }

    .Aboutinner p{
        width: 100%;
        margin: auto;
    }
}