.Numbers{
    width: 70%;
    margin: 50px auto;
    background-color: #171717;
    border-radius: 12px;
    box-shadow: 1px 1px 5px #1e1e1e;
}

.innerNumbers{
    padding: 50px 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.innerNumbers h1{
    color: #0061ff;
    font-size: 50px;
}

.innerNumbers p{
    border-top: 2px solid gray;
    line-height: 50px;
}